h1 {
    color: darkblue;
    background-color: aquamarine;
    text-align: center;
    font-weight: normal;
    text-decoration: wavy underline;
    letter-spacing: 2px;
    font-family: fantasy;
}

h2 {
    color: darkblue;
    background-color: azure;
    font-weight: normal;
    letter-spacing: 2px;
}

body {
    background-color: aliceblue;
}

p {
    line-height: 2;
    font-weight: 200;
}

button {
    color: darkblue;
    background-color: lightblue;
}