        body{
            background-color: #EAF6F6;
            margin: 0px;
        }

        hr{  
            background-color:white;
            border-style: dotted none none;
            border-color:cyan;
            border-width: 8px;
            width: 10%;
        }
        h1{
            color:#373677;
        }
        h2{
            color:#66BFBF;
            font-family: Garamond;
        }
        h3{
            color:#66BFBF;
            font-family: Garamond;
        }
        .top-container{
            background-color: aquamarine;
            font-family:'Trebuchet MS', sans-serif;
            border-radius: 15px;
        }
        button{
            background-color: white;
            border: 2px solid violet;
        }