

body{
    --color-primary: aquamarine;
    --color-box: #FFFFFF;
    --color-error: #FF9494;
    --color-input: #808080;
    --color-button: #00FFFF;
    

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    font-size: 18px;
    

}


.createbox{
    background-color: white;
    border-radius: 5px;
    position: relative;
    margin: 1rem;
    padding: 2rem;
    
}

.form__title{
    text-align: center;
}

.form__message{
    text-align: center;
    color: var(--color-error);
    margin-bottom: 1rem;
}

.form__button,
.form__input-group{
    margin-bottom: 1rem;
}

.form__button{
    width: 100%;
    color: white;
    background-color: dodgerblue;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
}


.takeinput{
    width: 100%;
    height: 1.1rem;
}

.form__button:active{
    transform: scale(0.98);
}

.form__link{
    text-align: center;
    text-decoration: none;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 0.9rem;

}
